<template name="getStartedPage">
    {{ > hero }}
    <div class="content">
        <div class="g-sub">
            <div class="gc-sub-sidebar">
                <div class="gc-content">
                    <ul class="nav  nav--stacked  nav--stacked--main">
                        {{ #each getStartedPages }}
                            {{ > getStartedItem}}
                        {{ /each }}
                    </ul>
                </div>
            </div>
            <div class="gc-sub-content">
                <div class="gc-content">
                    {{ #each sections }}
                        <section>
                            <h2>{{ title }}</h2>
                            {{{ content }}}
                        </section>
                    {{ /each }}
                </div>
            </div>
        </div>
    </div>
</template>