/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USAGE
        HTML
        Class Options
        Example
 *  GRIDS
        Equals
        Single
        Sidebar Grid
        Demos
*/





/*------------------------------------*\
    !USAGE
\*------------------------------------*/

/**
 * ^HTML

   1. Keep the 'g-' but 'main' can be renamed to be whatever you want.
   2. Keep the 'gc-' but 'content' can be renamed to be whatever you want.
   3. Keep the 'gc-' but 'sidebar' can be renamed to be whatever you want.

   <div class="g-main"> <!-- 1. -->
       <div class="gc-content"> <!-- 2. -->
           <div class="block">
               <h2>Content</h2>
               <p>Content here</p>
           </div>
       </div>
       <div class="gc-sidebar"> <!-- 3. -->
           <div class="block">
               <h4>Sidebar Content</h4>
               <p>Sidebar content would go here</p>
           </div>
       </div>
   </div>
 */


/**
 * ^Class Options

 * Apply on .g-*
 * Block:       %grid
   Modifiers:   %grid--no-flex-cells (This will make cells not the same height.)

                %grid--fit
                %grid--full
                %grid--halves
                %grid--thirds
                %grid--quarters
                %grid--fifths

                (You can replace 'palm' with: lap, portable, desk, or wide.)
                %grid--palm-full
                %grid--palm-halves
                %grid--palm-thirds
                %grid--palm-quarters
                %grid--palm-fifths

                %gutters-small
                %gutters-medium
                %gutters-large
                %gutters-xlarge

                (You can replace 'palm' with: lap, portable, desk, or wide.)
                %gutters--palm-small
                %gutters--palm-medium
                %gutters--palm-large
                %gutters--palm--xlarge

                %grid--top
                %grid--bottom
                %grid--center


 * Apply on .gc-*
 * Element:     %grid__item
   Modifiers:   %grid__item--full
                %grid__item--half
                %grid__item--third
                %grid__item--quarter
                %grid__item--fifth

                (You can replace 'palm' with: lap, portable, desk, or wide.)
                %grid__item--palm-full
                %grid__item--lap-full
                %grid__item--portable-full
                %grid__item--desk-full
                %grid__item--wide-full

                %grid__item--top
                %grid__item--bottom
                %grid__item--center
 */


/**
 * ^Example

   .g-main{
        @extend %grid;
        @extend %grid--flex-cells;
        @extend %grid--palm-full;
        @extend %gutters-large;
    }

    .gc-content{
        @extend %grid__item;
    }

    .gc-sidebar{
        @extend %grid__item;
        @extend %grid__item--fifth;
    }

 */






/*------------------------------------*\
    !GRIDS
\*------------------------------------*/

/**
 * !IMPORTANT - It is best to only attach grid and/or width styles to your
 * grid classes. Don't clutter them with other styles. Instead add markup
 * inside these divs and then style those.
 *
 * grid blocks need to start with .g- and grid cells should start with .gc-
 *
 * @extend %grid__item is only needed when there isn't another extend
 * defining it's flex width.
 *
 * Note: If you don't give a grid cell a width it will just fill the
 * remaining space.
 */

// START YOUR GRIDS HERE

/**
 * ^Equals
 */

.g-equals{
    @extend %grid;
    max-width: 980px;
    margin: 0 auto;
}

.gc-equals-cell{
    @extend %grid__item;
}

.g-equals--mobile-full{
    @extend %grid--palm-full;

    @include media-query(palm){
        .align-right{
            text-align: left;
        }
    }
}


/**
 * ^Single
 */

.content-single{
    @extend %grid--center-630;

    @include media-query(portable){
        padding: 0 25px;
    }
}

.g-single{
    @extend %grid;
}

.gc-single-cell{
    @extend %grid__item;

}


/**
 * ^Sidebar Grid
 */

.content{
    @extend %grid--center-980;

    @include media-query(portable) {
        padding: 0 25px;
    }
}

.g-sub{
    @extend %grid;
    @extend %gutters-medium;
}

.gc-sub-sidebar{
    @extend %grid__item--portable-full;
    @extend %grid__item--fixed-235;
}

.gc-sub-content{
    @extend %grid__item--portable-full;
    @extend %grid__item;
}

/**
 * ^DEMOS
 */

div[class^='g-demo-']{
    // background-color: #ddd;

    .gc-demo{
            // background-color: #ccc;

        .gc-content{
            background-color: #ccc;
        }
    }
}

.g-demo-fit{
    @extend %grid;
    @extend %grid--fit;
}

.g-demo-full{
    @extend %grid;
    @extend %grid--full;
}

.g-demo-halves{
    @extend %grid;
    @extend %grid--halves;
}

.g-demo-thirds{
    @extend %grid;
    @extend %grid--thirds;
}

.g-demo-quarters{
    @extend %grid;
    @extend %grid--quarters;
}

.g-demo-fifths{
    @extend %grid;
    @extend %grid--flex-cells;
    @extend %grid--fifths;
}

.g-demo-halves--gutters-small{
    @extend %grid;
    @extend %grid--flex-cells;
    @extend %grid--halves;
    @extend %gutters-small;
}

.g-demo-thirds--gutters-small{
    @extend %grid;
    @extend %grid--flex-cells;
    @extend %grid--thirds;
    @extend %gutters-small;
}

.g-demo-quarters--gutters-small{
    @extend %grid;
    @extend %grid--flex-cells;
    @extend %grid--quarters;
    @extend %gutters-small;
}

.g-demo-thirds--gutters-medium{
    @extend %grid;
    @extend %grid--thirds;
    @extend %gutters-medium;
}

.g-demo-thirds--gutters-large{
    @extend %grid;
    @extend %grid--thirds;
    @extend %gutters-large;
}

.g-demo-thirds--gutters-xlarge{
    @extend %grid;
    @extend %grid--thirds;
    @extend %gutters-xlarge;
}

.g-demo--top{
    @extend %grid--top;
}

.g-demo--bottom{
    @extend %grid--bottom;
}

.g-demo--center{
    @extend %grid--center;
}

.g-demo--palm-full{
    @extend %grid--palm-full;
}

.g-demo--palm-halves{
    @extend %grid--palm-halves;
}

.g-demo--palm-thirds{
    @extend %grid--palm-thirds;
}

.g-demo--palm-quarters{
    @extend %grid--palm-quarters;
}

.g-demo--palm-fifths{
    @extend %grid--palm-fifths;
}

.g-demo--gutters-palm-small{
    @extend %grid;
    @extend %grid--thirds;
    @extend %gutters-medium;
    @extend %gutters--palm-small;
}

.g-demo--gutters-palm-medium{
    @extend %grid;
    @extend %grid--thirds;
    @extend %gutters-large;
    @extend %gutters--palm-medium;
}

.g-demo--gutters-palm-large{
    @extend %grid;
    @extend %grid--thirds;
    @extend %gutters-medium;
    @extend %gutters--palm-large;
}

.g-demo--gutters-palm-xlarge{
    @extend %grid;
    @extend %grid--thirds;
    @extend %gutters-medium;
    @extend %gutters--palm-xlarge;
}

.gc-demo--full{
    @extend %grid__item;
    @extend %grid__item--full;
}

.gc-demo--half{
    @extend %grid__item;
    @extend %grid__item--half;
}

.gc-demo--third{
    @extend %grid__item;
    @extend %grid__item--third;
}

.gc-demo--quarter{
    @extend %grid__item;
    @extend %grid__item--quarter;
}

.gc-demo--fifth{
    @extend %grid__item;
    @extend %grid__item--fifth;
}

.gc-demo--top{
    @extend %grid__item;
    @extend %grid__item--top;
}

.gc-demo--bottom{
    @extend %grid__item;
    @extend %grid__item--bottom;
}

.gc-demo--center{
    @extend %grid__item;
    @extend %grid__item--center;
}