/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USAGE
        HTML
        Class Options
 *  NAVS
        Nav Left
        Nav Main
        Nav Stacked
        Nav Stacked Main
        Nav Stacked Sub
 */





/*------------------------------------*\
    !USAGE
\*------------------------------------*/

/**
 * ^HTML

   <ul class="nav  nav--left">
       <li><a href="#">About</a></li>
       <li><a href="#">Contact</a></li>
       <li><a href="#">Portfolio</a></li>
       <li><a href="#">Search</a></li>
   </ul>
 */



/**
 * ^Class Options

 * Blocks:      .nav
 * Modifiers:   .nav--fit
                .nav--stacked
                .nav--center
                .nav--right
                .nav--left
                .nav--space-between
                .nav--space-around
                .nav--keywords
                .nav--pagination
                .nav--breadcrumb
                .nav--breadcrumb--path
                .nav--breadcrumb--custom
 */





/*------------------------------------*\
    !NAVS
\*------------------------------------*/

.nav{
    font-family: $font-sans;
}


/**
 * ^Nav Left
 */

.nav--left li{
    margin-right: 15px;

    a{
        color: color(pink, base);

        &:hover{
            color: color(pink, dark);
        }
    }
}


/**
 * ^Nav Main
 */

.nav--main{
    .active a{
        border-bottom: solid 2px color(pink, dark);
        color: color(pink, dark);

        @media all and (max-width: 815px) {
            border: 0;
        }
    }

    @media all and (max-width: 815px) {
        width: 160px;
        margin-top: -20px;
    }
}


/**
 * ^Nav Stacked
 */

.nav--stacked{
    a{
        color: color(gray, dark);

        &:hover{
            color: color(pink, dark);
        }
    }

    > .active{
        background-color: color(gray, base);

        > a{
            cursor: default;
        }
    }
}


/**
 * ^Nav Stacked Main
 */

.nav--stacked--main{
    background-color: color(gray, lighter);

    > li{
        transition: border-left 0.5s ease-out;
        border-left: solid 5px color(gray, lighter);
    }

    > li > a{
        display: block;
        width: 100%;
        padding: 6px 20px 4px 10px;
    }

    > li:first-child > a{
        padding-top: 7px;
    }

    > li.active{
        border-left: solid 5px color(pink, dark);

        > a{
            color: color(gray, dark);
        }
    }
 }


/**
 * ^Nav Stacked Sub
 */

.nav--stacked--sub{
    margin-left: 15px;

    > li > a{
        display: block;
        width: 100%;
        padding-bottom: 5px;
        padding-left: 15px;
    }

    > li.active{
        background: url('../images/active-sub.svg') no-repeat 0 7px;

        a{
            cursor: default;
            color: color(pink, dark);
        }
    }
}


/**
 * ^Demo Nav Stlyes
 */

.nav--center{
    padding: 0 10px;
}

.nav--right{
    padding-left: 20px;
}