/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  STICKY FOOTER
 *  HEADER
 *  HERO
 *  SECTION
 *  FOOTER
*/





/*------------------------------------*\
    !STICKY FOOTER
\*------------------------------------*/

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1;
}





/*------------------------------------*\
    !HEADER
\*------------------------------------*/

header{
    padding: 23px;
    background-color: color(gray, lighter);

    @media all and (max-width: 815px) {
        padding-bottom: 12px;
    }
}


.header-icon{
    margin-top: 12px;
}





/*------------------------------------*\
    !HERO
\*------------------------------------*/

.hero{
    margin-bottom: 50px;
    padding: 30px 50px 18px;
    background: url('images/background-small.jpg') top center no-repeat;
    text-align: center;
}

.hero--large {
    padding: 120px 50px;
    background: url('images/background-large.jpg') top center no-repeat;

    @include media-query(palm) {
        padding: 120px 20px;
    }
}




/*------------------------------------*\
    !SECTION
\*------------------------------------*/

section{
    margin-bottom: 60px;
}

.component-section,
.component-sub-section{
    margin-bottom: 30px;
}

.rendered{
    padding: 0.7em;
    background-color: color(gray, light);
}






/*------------------------------------*\
    !FOOTER
\*------------------------------------*/

footer{
    padding: 52px;
    background: #F35A81 url('images/background-small.jpg') top center no-repeat;

    @include media-query(palm) {
        padding: 25px;
    }

    a:hover{
        color: #FFF;
    }
}
