/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USE LIST
 *  DESIGN VARIABLES
 *  MODIFIER VARIABLES
 */





/*------------------------------------*\
    !USE LIST
\*------------------------------------*/

$use-list:                          false;





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

$list-colored-color:                #f00;
$list-colored-padding-left:         40px;





/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

$list-no-bullets:                   false;
$list-colored:                      false;
