/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USE LIST
 *  DESIGN VARIABLES
 *  MODIFIER VARIABLES
 */





/*------------------------------------*\
    !USE LIST
\*------------------------------------*/

$use-list:                          true;





/*------------------------------------*\
    !DESIGN VARIABLES
\*------------------------------------*/

$list-colored-color:                color(pink, base);
$list-colored-top:                  3px;
$list-colored-size:                 .75em;
$list-colored-padding-left:         30px;





/*------------------------------------*\
    !MODIFIER VARIABLES
\*------------------------------------*/

$list-no-bullets:                   false;
$list-colored:                      true;
