/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/**
 *  USE TYPE
 *  VARIABLES
 *      Custom Fonts
 *      Font Vars
 */





/*------------------------------------*\
    !USE TYPE
\*------------------------------------*/

$use-type:                          true;





/*------------------------------------*\
    !VARIABLES
\*------------------------------------*/

/**
 * ^Custom Fonts
 *      List the fonts you'd like to use with @font-face here. They will be output in your css.
 *      The .woff file is all that is needed.
 *      See assemble.css/base/type/_type-print.scss for how these get printed out for use.
 */

$fonts: (
    /* Example
    helvetica_neue: (
        name:   'Helvetica Neue',
        src:    '../fonts/helvetica-neue.woff'
    )
    */
    mission_gothic_regular: (
        name: 'Mission Gothic Regular',
        src:  'fonts/Mission_Gothic_Regular.woff'
    ),
    mission_gothic_regular_italic: (
        name: 'Mission Gothic Regular Italic',
        src:  'fonts/Mission_Gothic_Regular_Italic.woff'
    ),
    mission_gothic_light_italic: (
        name: 'Mission Gothic Light Italic',
        src:  'fonts/Mission_Gothic_Light_Italic.woff'
    ),
    mission_gothic_bold: (
        name: 'Mission Gothic Bold',
        src:  'fonts/Mission_Gothic_Bold.woff'
    )
);


/**
 * ^Font Vars
 *      These are used so you can use assign fonts to elements in your project
 */

$font-sans:                         'Mission Gothic Regular', Helvetica, Arial, sans-serif !default;
$font-sans-italic:                  'Mission Gothic Regular Italic', Helvetica, Arial, sans-serif !default;
$font-sans-bold:                    'Mission Gothic Bold', Helvetica, Arial, sans-serif !default;
$font-sans-light-italic:            'Mission Gothic Light Italic', Helvetica, Arial, sans-serif !default;
$font-serif:                        Georgia, 'Times New Roman', serif !default;
$font-mono:                         'Lucida Console', Monaco, monospace !default;
$text-color:                        #000 !default;

// The vertical grid unit. Margin, padding, and line-height are set to multiples of this value.
// This is the value that determines the baseline for our vertical rhythm. The default value of 6px
// allows more fine tuned designs that still obey vertical rhythm.
$base-vertical-unit:                5px !default;

// The value that multiplies the $base-vertical-unit to get the $base-line-height. This gives type
// an ideal line-height.
$base-line-multi:                   4 !default;

// Base font size in pixels.
$base-font-size:                    16px !default;

// Modular scale ratio that is used to figure out all the different font sizes
$ms-ratio:                          1.414 !default;

// Paragraph settings
$paragraph-indent:                  false !default;
$paragraph-justify:                 false !default;
