<template name="componentsList">
    <div class="hero">
        <h1>Components</h1>
    </div>
    <div class="content">
        <div class="g-sub">
            <div class="gc-sub-sidebar">
                <div class="gc-content">
                    <ul class="nav  nav--stacked  nav--stacked--main">
                        {{ #each components }}
                            {{ > componentItem}}
                        {{ /each }}
                    </ul>
                </div>
            </div>
            <div class="gc-sub-content">
                Content
            </div>
        </div>
    </div>
</template>