<template name="options">
    <section>
        <h2>Options</h2>
        <table class="table  table--striped  table--bordered">
           <thead>
               <tr>
                   <th>Variable</th>
                   <th>Default Value</th>
               </tr>
           </thead>
           <tbody>
                {{ #each the_options }}
                    <tr>
                        <td>{{ variable }}</td>
                        <td>{{ default }}</td>
                    </tr>
                {{ /each }}
            </tbody>
        </table>
        {{ #if options_message }}
            <p class="hint">
                {{ options_message }}
            </p>
        {{ /if }}
    </section>
</template>